src/main/mule/processing-etl-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="989c1920-0995-40cc-b81a-b5aef02e69dc" >
		<http:request-connection host="localhost" port="8081" />
	</http:request-config>
	<flow name="processing-etl-apiFlow" doc:id="bc367cc6-f99e-474c-b5f7-a22046dc5ca3" >
		<scheduler doc:name="Scheduler" doc:id="373f7652-9d48-45a7-92bb-b49d08e4a0c5" >
			<scheduling-strategy >
				<fixed-frequency frequency="100" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="b23d2db5-51fe-4714-b3a2-081c79943078" message="**Process api starts***"/>
		<os:retrieve doc:name="Retrieve" doc:id="6fd11a69-9931-413a-9bb2-b55dda63f585" key="lastRuntime">
			<os:default-value ><![CDATA[2023-03-14 14:41:51
]]></os:default-value>
		</os:retrieve>
		<http:request method="GET" doc:name="Request" doc:id="bb4ad004-b792-4953-a125-90e9f17c732d" config-ref="HTTP_Request_configuration" path="/api/contacts">
			<http:headers ><![CDATA[#[output application/java
---
{
	client_secret : "e241f4aa3eca4b2a8FA67A2FEF5754F",
	client_id : "7b404180fbb84b099179a4126a9576f"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	lastRuntime : "2023-03-14 14:41:51"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="e3743f9a-f70d-4d48-9720-8822122da06d" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="fa5837d4-cf63-4ce0-ab70-ba3624940c91" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload map$[3]]" doc:name="Set Variable" doc:id="4245ff4b-e3b8-4b44-b041-0004eca8909c" variableName="datetime"/>
		<logger level="INFO" doc:name="Logger" doc:id="8bfdb073-6b29-4cb6-9f5b-a2b84d3148a5" message="#[vars.datetime]"/>
		<flow-ref doc:name="Flow Reference" doc:id="a5828bf0-d4f4-4793-9a38-512568325df3" name="sfdc-papi"/>
	</flow>
	<sub-flow name="sfdc-papi" doc:id="b0f5c601-25ee-4c77-bd68-749bbe76a088" >
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="7639c45f-0e1e-4efb-bdc7-ef92c416e21c" variableName="payloadDb"/>
	</sub-flow>
</mule>
